body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.parts {
  padding: 20px;
  margin-left: 10px;
  max-width: 600px;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
}